.want{
    font-size: 2rem;
    color: green;
    background: #555;
    display: flex;
    // margin: auto 50%;
    justify-content: center;
    align-items: center;

    .demo{
        color: #b80808;
        font-size: 4rem;
    }
}

