.teams {
  margin-bottom: 6rem;
  .our-team-container {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;

    .user-details {
      margin-top: 10%;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;

      .name {
        font-family: 'Raleway';
        font-weight: bold;
        font-size: 48px;
        line-height: 56px;
        color: var(--accent);

        // &:nth-child(2n + 1){
        //     text-align: end;
        // }
      }

      small {
        font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 30px;
        color: var(--background);
      }

      .user-img-holder {
        margin-right: 2rem;
        margin-top: 1rem;
        width: 280px;
        height: 280px;
        display: flex;
        // background: #606060;
        border-radius: 10px;
        align-items: center;
        justify-content: center;

        img {
          width: 100%;
          height: 100%;
          // float: right;
          // background: #606060;
          border-radius: 10px;
        }
      }
    }
    // .class{
      .user-icons{
        margin-top: 2rem;
        font-size: 24px;
        color: royalblue;
        display: flex;

        ul{
          display: flex;
         
          .list-icons{
            color: royalblue;
            

            a{
              margin: auto 1rem;
            }
          }
        }
        // &:first-child{
        //   justify-content: right;
        // }
      }
      // .user-icons-left{
      //   // justify-content: left;
      //   position: relative;
      //   right: 100px;
      //   top: 10px;
      // }
    // }
  }
  .message{
    padding: 10px 0px;
  }
}
// small:nth-child(even){
//     color: green !important;
// }

@media only screen and (max-width: 600px) {
  .teams {
    width: 100%;
    .our-team-container {
      width: 100%;
      // .user-info{
      //   // width: 60%;
      //   // height: 40px;
      // }

      .team-card1 {
        margin-bottom: 2rem;
      }
      .class{
        width: 50%;
        // height: 350px;

        .name {
          font-size: 18px;
          line-height: 1.4;
        }
        small{
          font-size: 14px;
          line-height: .5;
        }
        .message{
          font-size: 11px;
          line-height: 1.7;
        }
      }

      .user-details {
        // height: 260px;
        padding: 0 ;

        .user-img-holder {
          margin-right: 1rem;
          width: 40%;
          height: 180px;

          img{
            height: auto;
            width: 100%;
          }
        }
        .user-img-holder-left{
          width: 140px;
        }
      }
      .user-icons{
        margin-top: 0rem;
        // position: relative;
        // top: -190px;
        // left: -20px;
      }
    }

    .list-icons{
      a{
        font-size: 16px;
      }
    }
 
  }
}
