.teams{
    margin-bottom: 6rem;
    .our-team-container{
        margin-top: 5%;
        
        .user-details{
            margin: 1rem  15rem;
            display: flex;
            justify-content: center;
            align-items: center;
            .name{
                font-family: 'Raleway';
                font-weight: bold;
                font-size: 48px;
                line-height: 56px;
                color: var(--accent);
            }

            small{
                font-family: Open Sans;
                font-style: normal;
                font-weight: 600;
                font-size: 22px;
                line-height: 30px;
                color: var(--background);
            }
            
            .user-img-holder{
                margin-right: 2rem;
                margin-top: 1rem;
                img{
                    width: 280px;
                    height: 280px;
                    border-radius: 50%;
                }
            }
        }

        .team-card1{
            display: flex;
            align-items: center;
            justify-content: center;
            // .user-img-holder{
            //     // float: left;
            // }
    
        }
    }

}
// small:nth-child(even){
//     color: green !important;
// }