.dashboard {
  position: relative;

  .headbadge-title {
    // width: 300px;
    height: 82px;
    font-size: 32px;
    line-height: 28px;
    display: flex;
    font-size: 22px;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
  }

  .dashboard-holder {
    display: flex;
    // align-items: center;
    justify-content: center;
    margin: 2rem;

    input,
    textarea {
      width: 475px;
      height: 44px;
      background: #242424;
      border: 1px solid rgba(186, 186, 186, 0.24);
      box-sizing: border-box;
      border-radius: 5px;
      color: rgba(#fff, 0.8);
      z-index: 9999;
      padding: 10px;
      &:focus {
        outline: white !important;
      }
    }

    textarea {
      height: 251px;
      width: 475px;
      padding-top: 20px;
    }

    // label {
    //   color: var(--background);
    //   font-size: 18px;
    //   line-height: 25px;
    //   opacity: 0.7;
    // }

    .upload-image {
      // width: 360px;
      // height: 420px;
      margin-right: 5%;
    }

    .send-image {
      margin-right: 4rem;
      // width: 360px;
      // height: 360px;
    }
    button {
      margin: auto;
      margin-top: 4rem;
      font-weight: 600;
      font-size: 22px;
      line-height: 30px;
    }
  }

  .right-flower,
  .left-flower {
    position: absolute;
    height: 50px;
    opacity: 1;
    z-index: -999;
    img {
      z-index: -2;
      height: 800px;
      width: 300px;
    }
  }
  .right-flower {
    top: 50px;
    right: 1px;
    width: fit-content;
  }

  .dashboard-card {
    display: flex;
    font-size: 22px;
    justify-content: space-evenly;
    align-items: center;

    a {
      color: var(--secondary);
    }
  }
}

@media only screen and (max-width: 600px) {
  .dashboard {

    .dashboard-card {
      display: block;
      margin: auto;
    }
    .dashboardCard{
      width: 100%;
    }
  }
}
