.user-card-container{
        .user-details{
            .name{
                font-family: Open Sans;
                font-style: normal;
                font-weight: 600;
                font-size: 32px;
                line-height: 44px;
            }

            .message{
                width: 561px;
                height: 75px;
                font-size: 18px;
                line-height: 25px;
            }
            button{
                display: none;
            }
        }
}