.user-card-container {
  .user-details {
    .name {
      font-family: Open Sans;
      font-style: normal;
      font-weight: 600;
      font-size: 32px;
      line-height: 44px;
    }

    .message {
      width: 561px;
      height: 75px;
      font-size: 18px;
      line-height: 25px;
    }
    button {
      display: none;
    }
  }
}

@media only screen and (max-width: 600px) {
  .user-card-container {
    width: 90%;
    margin: 0 auto;
    .user-details {
      padding: 2rem;

      .message {
        width: 100%;
        height: auto;
      }
    }
  //   .user-img-holder {
  //     margin-right: 2rem;
  //     margin-top: 1rem;
  //     width: 340px;
  //     height: 250px;
  //     display: flex;
  //     background: rgba(78, 77, 77, 0.1) !important;
  //     border-radius: 10px;
  //     align-items: center;
  //     justify-content: center;

  //     img {
  //       width: 100%;
  //       height: 100%;
  //       // background: #606060;
  //       // border-radius: 10px;
  //     }
  //   }
  }
}
