// .showcase-container-holder {
//   display: flex;
//   flex-direction: row;
//   margin-top: 4rem;

//   .left-container {
//     width: 40%;

    // img {
    //   width: 100%;
    // }
//   }

//   .right-container {
    // width: 60%;
    // padding: 7rem;
    // padding-bottom: 15rem;
    // background: linear-gradient(90deg, #121212 0%, rgba(186, 186, 186, 0) 100%);

    // .right-container-heading {
    //   opacity: 1;
    //   color: white;
    //   font-weight: bold;
    //   font-size: 2rem;
    // }

//     .right-container-inner {
      // height: 100%;
//       display: flex;
//       flex-direction: column;
//       justify-content: space-between;
      // margin-top: 2rem;
      // background-image: url('../../assets/Images/flower.png');
      // background-repeat: no-repeat;
      // background-size: contain;
      // background-position: right;

      // .right-container-content {
      //   h1 {
      //     color: #cf1d1d;
      //     font-weight: bold;
      //     font-size: 4rem;
      //     margin-bottom: 1rem;
      //   }

      //   p {
      //     font-size: 1.5rem;
      //   }

        // button {
        //   color: #cf1d1d;
        //   outline: none;
        //   background: none;
        //   border: 2px solid #cf1d1d;
        //   margin-top: 2rem;
        //   padding: 1.2rem 2.3rem;
        //   font-size: 1.5rem;
        //   font-weight: bold;
        //   border-radius: 3px;
        // }
//       }
//     }
//   }
// }


.showcase-container-holder {
  display: flex;
  flex-direction: row;
  margin-top: 4rem;

  .right-container{
    height: 100%;
    .right-container-content{
      height: 100%;
      display: flex;
      background: linear-gradient(90deg, #121212 0%, rgba(186, 186, 186, 0) 100%);

      img {
        width: 50%;
      }
      .right-text{
        width: 50%;
        padding: 7rem;
        padding-bottom: 15rem;
        margin-top: 2rem;
        background-image: url('../../assets/Images/flower.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right;
      }

      h1 {
        color: #cf1d1d;
        font-weight: bold;
        font-size: 4rem;
        margin-bottom: 1rem;
      }

      .right-container-heading {
        opacity: 1;
        color: white;
        font-weight: bold;
        font-size: 2rem;
      }

      p {
        font-size: 1.5rem;
      }

    }
    button {
      color: #cf1d1d;
      outline: none;
      background: none;
      border: 2px solid #cf1d1d;
      margin-top: 2rem;
      padding: 1.2rem 2.3rem;
      font-size: 1.5rem;
      font-weight: bold;
      border-radius: 3px;
    }
  }
}










@media only screen and (max-width: 600px) {
  .showcase-container-holder {
    position: relative;
    display: block;

    .left-container {
      // z-index: -100;
      height: 100%;
      width: 100%;
    }

    .right-container {
      padding-bottom: 20rem;
      width: 100%;
      padding: 7rem 2rem;
      // position: absolute;
      height: 100%;
      background: rgba($color: #000000, $alpha: 0.7);


      .right-container-inner {
        margin-top: 1rem;

        .right-container-content {
          display: block;
          margin-bottom: 6rem;
          text-align: right;
          img {
            width: 100%;
            margin-bottom: 1rem;
          }
          h1 {
            font-size: 2rem;
          }

          p {
            font-size: 1rem;
            display: flex;
            justify-content: end;
            text-align: initial;
          }

          .right-text{
            width: 100%;
            padding: 10px;
            padding-bottom: 1rem;
            margin-top: 1rem;
            background: none;
          }
          .right-container-heading {
            text-align: right;
            font-size: 24px;
            line-height: 5px;
            // text-align: right;
          }
          

          button {
            padding: .5rem .6rem;
            font-size: 14px;
          }
        }
      }
    }
  }
}
