.showcase-container {
  display: flex;
  flex-direction: row;
  margin-top: 4rem;

  .left-container {
    width: 40%;

    img {
      width: 100%;
    }
  }

  .right-container {
    width: 60%;
    padding: 7rem;
    padding-bottom: 15rem;
    background: linear-gradient(90deg, #121212 0%, rgba(186, 186, 186, 0) 100%);

    .right-container-heading {
      opacity: 1;
      color: white;
      font-weight: bold;
      font-size: 2rem;
    }

    .right-container-inner {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-top: 2rem;
      background-image: url('../../assets/Images/flower.png');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: right;

      .right-container-content {
        h1 {
          color: #cf1d1d;
          font-weight: bold;
          font-size: 4rem;
          margin-bottom: 1rem;
        }

        p {
          font-size: 1.5rem;
        }

        button {
          color: #cf1d1d;
          outline: none;
          background: none;
          border: 2px solid #cf1d1d;
          margin-top: 2rem;
          padding: 1.2rem 2.3rem;
          font-size: 1.5rem;
          font-weight: bold;
          border-radius: 3px;
        }
      }
    }
  }
}
