.iconlist {
  .list-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;

      li {
        box-sizing: border-box;
        margin-right: 2rem;
        font-size: 18px;

        &:last-child{
          margin-right: 0rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .iconlist {
    width: 100%;
    .list-icons {
      ul {
        width: 100%;
        justify-content: space-evenly;

        li{
          // margin-right: 1rem;
          font-size: 16px;
        }
      }
    }
  }
}
