.iconlist{

    .list-icons{
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        width: 100%;
            ul{
            display: flex;
            align-items: center;
            justify-content: center;
            box-sizing: border-box;
            
                li{
                    box-sizing: border-box;
                    margin-right: 2rem;
                }
        }
    }
}