.home-container {
  width: 100%;

  .showcase-text {
    text-align: center;
    color: white;
    text-shadow: 1px 1px red;
    font-size: 6rem;
    font-weight: bold;
    margin-top: 3rem;
  }

  .divider {
    width: 100%;
    height: 50px;
    background: #131313;
    margin: 6rem auto;
    content: '';
  }
  #roadmap{
    margin: 3rem auto 4rem;
    span, .showcase-text{
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-bottom: 3rem;
    }
  }
}

@media only screen and (max-width: 600px) {
  .home-container {
    .showcase-text {
      font-size: 2rem;
      padding: 0 1rem;
      text-transform: uppercase;
      // margin-top: 0rem;

      
      // font-size: 24px;
      // line-height: 30px;
      // margin-bottom: 8px
    }

    .divider {
      display: none;
    }
  }
}
