.home-container {
  width: 100%;

  .showcase-text {
    text-align: center;
    color: white;
    text-shadow: 1px 1px var(--accent);
    font-size: 6rem;
    font-weight: bold;
    margin-top: 3rem;
  }
  .explore-text{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2.3rem;
    line-height: 1.8;
    height: 150px;
    text-shadow: none;

    // .explore-head{
    //   margin-top: 4rem;
    // }

    span{
      text-shadow: 1px 1px var(--accent);
      display: block;
      font-size: 1.9rem;
    }
  }

  .divider {
    width: 100%;
    height: 50px;
    background: #131313;
    margin: 6rem auto;
    content: '';
  }
  #roadmap{
    margin: 3rem auto 4rem;
    span, .showcase-text{
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-bottom: 3rem;
    }
  }
  .text-section-artmem{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;

    h3{
      text-align: center;
      color: white;
      text-shadow: 1px 1px var(--accent);
      font-size: 6rem;
      font-weight: bold;
      margin-top: 3rem;
    }

    p{
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.8rem;
      width: 80%;
      margin: 0rem auto;
    }
  }
}

@media only screen and (max-width: 600px) {
  .home-container {
    .showcase-text {
      font-size: 2rem;
      padding: 0 1rem;
      text-transform: uppercase;
      // margin-top: 0rem;

      
      // font-size: 24px;
      // line-height: 30px;
      // margin-bottom: 8px
    }
    .explore-text{
      font-size: 1.3rem;
      line-height: 1.7;
      // height: 50px;
  
      span{
        display: block;
        font-size: .9rem;
      }
    }
    .divider {
      display: none;
    }

    .text-section-artmem{
      display: flex;
      align-items: center;
      justify-content: center;
      height: auto;
      
      h3{
        height: 45px;
        font-size: 1.8rem;
        padding: 0 1rem;
        // text-transform: uppercase;
      }
  
      p{
        text-align: center;
        font-size: 1.2rem;
        // width: 100%;
      }
    }
  }
}
