.store-container {
  width: 100%;

  .store-container-inner {
    width: 90%;
    margin: 4rem auto 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .item-container {
      width: 400px;
      height: auto;
      background-color: #131313;

      .cover {
        width: 100%;
      }

      .content-container {
        padding: 2rem;

        .header {
          font-weight: bold;
          font-size: 1.7rem;
          color: white;
        }

        .content {
          font-weight: bold;
          font-size: 1.4rem;
          margin-top: 1rem;
        }

        .footer {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 3rem;
          padding-bottom: 1.5rem;

          .logo-container {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .logo {
              width: 18px;
              height: 18px;
              margin-right: 0.5rem;
            }

            p {
              font-size: 1.2rem;
            }
          }

          button {
            color: white;
            background-color: #89000b;
            border: none;
            padding: 1.6rem 2.6rem;
            font-weight: bold;
            border-radius: 5px;
          }
        }
      }
    }
  }
}
