.our-partners {
  position: relative;
  .background-flower {
    position: absolute;
    left: 50rem;
    right: 65rem;
    top: 12rem;
  }
  .our-partners-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 6rem 2rem 2rem 2rem;

    .partner-card {
      z-index: 9999;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 620px;
      height: 280px;
      // padding: 2rem 0 3rem;
      background: rgba(186, 186, 186, 0.1);
      border: 1px solid rgba(186, 186, 186, 0.1);
      box-sizing: border-box;
      border-radius: 11px;
      margin: auto 4rem 3rem;
      // margin-right: 5rem;
      &:nth-child(2){
        margin-right: 0rem;
      }

      hr {
        margin: 10px auto;
      }

      img {
        width: 80px;
        height: auto;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .our-partners {
    .background-flower {
      left: 0;
      right: 0;
      // display: none;
    }

    .our-partners-container {
      display: block;
      .partner-card {
        width: 100%;
        height: inherit;
        padding: .5rem;
        margin: 4rem auto;
      }
      .user-details{
        padding: .5rem;
      }
    }
  }
}
