.our-partners {
  position: relative;

  .our-partners-container {
    background: url('../../assets/Images/flower-left.png');
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 6rem 2rem 2rem 2rem;


    .partner-card {
      z-index: 9999;
      display: flex;
      align-items: center;
      justify-content: center;
      // width: 620px;
      height: 280px;
      // padding: 2rem 0 3rem;
      background: rgba(186, 186, 186, 0.1);
      border: 1px solid rgba(186, 186, 186, 0.1);
      box-sizing: border-box;
      border-radius: 11px;
      margin: auto 3rem;
      padding: 0px 10px;
      // margin-right: 5rem;
      margin-right: 0rem;

      // &:nth-child(1){
      //   margin-right: 0rem;
      //   background: blue;
      //   color: #fff;
      // }

      hr {
        margin: 10px auto;
      }

      img {
        width: 80px;
        height: auto;
      }
      // &:first-child{
      //   // background-color: yellow;
      //   color: black;
      // }
    }
  }
}

@media only screen and (max-width: 600px) {
  .our-partners {

    .our-partners-container {
      display: block;
      .partner-card {
        width: 100%;
        height: inherit;
        padding: .5rem;
        margin: 4rem auto;
      }
      .user-details{
        padding: .5rem;
      }
    }
  }
}
