.headerNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 4%;
    // width: 100%;



    .nav-list-container{
        margin: auto 22rem auto 0px;
        .memu-list-display{
            font-size: 30px;
            transition: 0.45;
        }
        .nav-burger-icon{
            display: none;
        }
        .nav-list{
            display: flex;
            text-decoration: none;
            margin: 0px 20px;
            list-style: none;
            font-size: 18px;
            line-height: 25px;
            justify-content: center;
            align-items: center;
            // display: none;

            a{
                justify-content: space-between;
                margin: 0px 20px;
                color: var(--secondary);
                
                &:hover{
                    color: var(--accent);
                    opacity: 0.7;
                }
            }
            .is-active{
                color: var(--accent);
              }
        }
    }
}

