.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  // left: 50;
  // right: 25rem;
  // margin: auto 50%;
  // .footer-container{
  //     max-width: 100%;
  // }

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    // border: lawngreen solid 1px;
    text-align: center;
    box-sizing: border-box;
    font-size: 16px;
    margin-top: 4%;


    .footer-img {
      line-height: 4;
    }

    .footer-title {
      line-height: 22px;
      // margin-bottom: 2%;
    }

    .footer-form {
      // line-height: 2;
      .newsletter-label {
        line-height: 2;
        margin: 2% auto;
        color: var(--background);

        small{
          font-size: 16px;
          opacity: .7;
        }
      }

      // .test{

        button{
            width: 100%;
            height: 46px;
            background: var(--button);
            color: var(--background);
            line-height: 22px;
            font-size: 16px;
            border: transparent;
        }
      // }
    }

    .value-btn-box {
      padding: 0px;
      margin-bottom: 2%;
      box-sizing: border-box;
      border-radius: 3px;

      #newsletter {
        &::placeholder {
          opacity: 0.6;
        }
        width: 393px;
        height: 42px;
        background: var(--background);
        padding-left: 10px;
        padding-right: 20px;
        color: var(--primary, 0.1);
        font-size: 18px;
        border: transparent;
        margin-bottom: 1rem;
      }
      .newsletter-btn {
        width: 121px;
        height: 46px;
        background: var(--button);
        color: var(--background);
        line-height: 22px;
        font-size: 16px;
        border: transparent;
      }
    }

    .footer-list {
      display: flex;
      justify-content: space-around;
      align-items: center;

      ul {
        li {
          width: 341px;
          height: 50px;
          background: rgba(#bababa, 0.1);
          margin: 3% auto;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 1rem;
          font-size: 18px;
          line-height: 25px;

          // a{
          //     opacity: 1;
          // }
        }
        margin-bottom: 8%;
      }
      .footer-list-title {
        font-size: 3rem;
      }
    }

    .footer-icons {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 6% auto;
      ul {
        display: flex;
        align-items: center;
        justify-content: center;

        li {
          margin-right: 2rem;
        }
      }
    }

    .footer-copyright {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .terms-privacy{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: auto 1rem;
      }
      div {
        margin-bottom: 1rem;
        margin-right: 1rem;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .footer {
    margin-top: 3rem;

    footer {
      height: auto;

      .footer-container {
        width: 100%;

        .footer-title {
          font-size: .9rem;
        }

        .footer-form {
          margin-bottom: 2.5rem;
          width: 90%;

          // label {
          //   // font-size: 2rem;
          // }

          form {
            margin: 0 auto;
            .value-btn-box {
              margin-top: .5rem;
              width: 100%;
              display: flex;


              #newsletter {
                width: 100%;
                // margin: 0 1rem 1rem;
                margin-left: 1.5rem;
                height: 46px;
              }
            }
          }
          .newsletter-label {
            line-height: 1;
            span{
              line-height: 2;
            }
            small{
              font-size: 14px;
            }
          }
        }
        .list-icons ul{
          margin: 1rem auto 0;
          justify-content: center;
        }

        .footer-list {
          width: 100%;
          justify-content: space-evenly;

          .footer-list-title {
            font-size: 2rem;
          }
        }

        .footer-copyright {
          margin-top: 1.5rem;

          flex-direction: column;
          div {
            margin-bottom: 1rem;
            margin-right: 1rem;
          }
        }
      }
    }
  }
}
