.render-image{
    position: relative;
    margin-top: 10%;
    height: 500px;

    img{
        margin-top: 5%;
        height: 340px;
        z-index: 9999;
        background: #0000;
    }
    input[type="file"] {
        // display: none;
        visibility:unset;
        opacity: 0;
        width: 360px;
        height: 300px;
        background: #242424;
        border: 1px solid rgba(186, 186, 186, 0.24);
        box-sizing: border-box;
        border-radius: 11px;
        cursor: pointer;
        
    }
    
    .myImage-upload{
        width: 360px;
        height: 300px;
        background: #242424;
        border: 1px solid rgba(186, 186, 186, 0.24);
        box-sizing: border-box;
        border-radius: 11px;
        position: relative;

        .camera-icon{
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 70px;
            margin: auto;
            position: absolute;
            top: 50%;
            bottom: 50%;
            // left: 50%;
            right: 40%;
        }
    }
    .close-img{
        position: absolute;
        top: -1%;
        font-size: 30px;
        right: 20px;
        cursor: pointer;
    }
}