.showcase {
  width: 90%;
  margin: 0 auto;
  margin-top: 6rem;

  .showcase-container {
    display: flex;
    // height: 400px;

    &::-webkit-scrollbar {
      display: none;
    }

    div {
      width: 400px;
      margin: 0 20px;
      .showcase-img {
        height: 320px;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .showcase {
    .showcase-container {
      div {
        // &:first-child {
        //   // margin-left: -40px;
        // }
        // margin-right: 10rem;
        width: 300px;
        .showcase-img {
          
          margin: 0 20px;
        }
      }
      .showcase-img &:first-child {
        margin-left: -40px;
      }
    }
  }
}
