.showcase {
  position: relative;
  margin-top: 6rem;

  .showcase-container {
    display: flex;
    // justify-content: center;
    // align-items: center;
    padding-left: 40px;
    overflow-x: auto;
    overflow-y: hidden;

    &::-webkit-scrollbar {
      display: none;
    }

    .showcase-img {
      width: 450px;
      // height: 470px;
      margin: 0 10px;
      opacity: .8;
      background: #161616;
      // display: flex;
      // align-items: center;
      // justify-content: center;

      img{
        width: 850px;
        // height: 80%;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .showcase {
    .showcase-container {

      padding-left: 0px;
      .showcase-img{
        width: 650px;

        img{
          width: 220px;
          margin: 0 20px;
        }
      }
      .showcase-img &:first-child{
        margin-left: -40px;
      }
    }
  }
}
