
html {
  --primary: #000000;
  --secondary:  #BABABA;
  --text: #606060;
  --accent: #FF0000;
  --background: #FFFFFF;
  --button:  #CF1D1D;

}

html[data-theme="light-dark"] {
  --primary: #fff;
  --secondary:  #BABABA;
  --text: #606060;
  --accent: #FF0000;
  --background: #FFFFFF;
  --button:  #CF1D1D;
}

html[data-theme="dark"] {
  --primary: #000000;
  --secondary:  #BABABA;
  --text: #606060;
  --accent: #FF0000;
  --background: #FFFFFF;
  --button:  #CF1D1D;
}

.App{
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  
  max-width: 100%;
  min-height: 100vh;
  position: relative;
}