html {
  --primary: #000000;
  --secondary: #bababa;
  --text: #606060;
  --accent: #ff0000;
  --background: #ffffff;
  --button: #cf1d1d;
}

html[data-theme='light-dark'] {
  --primary: #fff;
  --secondary: #bababa;
  --text: #606060;
  --accent: #ff0000;
  --background: #ffffff;
  --button: #cf1d1d;
}

html[data-theme='dark'] {
  --primary: #000000;
  --secondary: #bababa;
  --text: #606060;
  --accent: #ff0000;
  --background: #ffffff;
  --button: #cf1d1d;
}

html {
  box-sizing: border-box;
  font-size: 10px;
  @media (max-width: 425px) {
    font-size: 16px;
  }
}

.App {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  margin: 0;
  max-width: 100%;
  min-height: 100vh;
  position: relative;
  // overflow-x: hidden;
}

input,
textarea {
  &:focus {
    outline: none;
  }
}
input,
textarea {
  border: 1px solid rgba(186, 186, 186, 0.24);
  box-sizing: border-box;
  border-radius: 5px;
  background: rgba(#fff, 0.25);
  width: 660px;
  color: rgba(#fff, 0.8);
  padding: 0px 20px;
  font-size: 16px;
  z-index: 9999;
  height: 56px;
  &:focus {
    // outline: white;
    color: rgba(#fff, 0.8);
    background: rgba(#fff, 0.25);
  }
}

label {
  color: var(--background);
  font-size: 18px;
  line-height: 25px;
  opacity: 0.7;
}
@media screen and (max-width: 910px) {
  .App {
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    .headerNav {
      .nav-list-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
      }

      .nav-burger-icon {
        display: flex;
        // display: block;
        margin-left: auto;
      }

      .nav-list, .nav-btn {
        display: none;
      }
    }
    .contact {
      .right-flower,
      .left-flower {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .App {
    max-width: 480px;
    box-sizing: border-box;
    .headerNav {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 40px;

      .nav-list-container {
        margin: auto auto auto 10rem;
        width: 400px;
      }
    }
    .footer {
      #newsletter {
        width: 80%;
      }

      .footer-list li {
        width: 100%;
        padding: 0px 20px;
        height: 41px;
        background: rgba(186, 186, 186, 0.1);
      }
    }
    .contact {
      position: relative;

      .right-flower {
        position: absolute;
        top: 50px;
        right: 1px;
        width: fit-content;
        display: none;
      }
      .left-flower {
        position: absolute;
        // width: 100%;
        display: none;
      }
    }
  }
}

// div#root {
// 	max-width: 480px;
// 	margin: 0 auto;
// }
