*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: inherit;
}
body {
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary);
  color: var(--secondary);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a,
Link,
li {
  list-style: none;
  text-decoration: none;
  cursor: pointer;
  color: var(--button);
}

label {
  display: block;
  font-size: 18px;
  line-height: 25px;
  color: var(--background);
  margin: 5% 0px 1%;
}
