.error-page{
    text-align: center;
    .error-page-image{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        img{
            
            width: 560px;
            height: 560px;
        }
        margin-bottom: 4rem;
    }

    button{
        width: 80px;
        height: 40px;
        background: var(--button);
        margin-left: 10px;
        border: transparent;
        outline: transparent;
        a{
            color: var(--background) !important;
            font-size: 18px;
        }
    }
}